@import "custom/functions";
@import "custom/variables";
@import "custom/mixins";

// Bootstrap (4.3.0) components

// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

@import "custom/reboot";
@import "custom/utilities";
@import "custom/components";

// Vendor (Plugins)

@import "custom/vendors";

// Angular Differences
@import "angular-differences/angular-differences";

/** Estilos Nuevos **/
@font-face {
  font-family: gourmetpay;
  font-display: swap;
  src: url('src/assets/fonts/calendar/cal.otf');
}

.bg-gradient-gourmet
{
  background: linear-gradient(87deg, #f59100 0, #f56036 100%) !important;
}

h1, h2, h3, h4, h5, h6, a{
  font-family: gourmetpay;
}

.x2 > img{
  width: 35%;
  height: auto !important;
}

.gourmet{
  font-family: gourmetpay;
}

.titulo{
  font-size: 42px;
}

a.nav-link.active {
  background: #4E5B59 !important;
  color: #fff !important;
}

.error_msg {
  color: #ff0033;
  text-transform: lowercase;
  font-size: 14px;
  font-family: gourmetpay;
  padding-bottom: 7px;
}

.box_title{
  display: flex;
}

.card-header.border-0 {
  padding: 30px;
  box-sizing: content-box;
}

.item_campania:hover{
  background: #f59100;
  color: #ffffff;
  cursor: pointer;
}

.center_loading{
  text-align: center;
}

.form-control-label{
  font-family: gourmetpay;
}

.btn-default
{
  color: #fff;
  border-color: #4E5B59;
  background-color: #4E5B59;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-default:hover
{
  color: #fff;
  border-color: #4E5B59;
  background-color: #4E5B59;
}

.btn-outline-default
{
  color: #4E5B59;
  border-color: #4E5B59;
  background-color: transparent;
  background-image: none;
}
.btn-outline-default:hover
{
  color: #fff;
  border-color: #4E5B59;
  background-color: #4E5B59;
}

.capa{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000 !important;
  z-index: 9990;
  opacity: .6;
}

.ctrl_capa{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000 !important;
  z-index: 9990;
  opacity: .6;
}

.modal_loading {
  position: fixed;
  width: 200px;
  height: 200px;
  background: #fff !important;
  z-index: 9999;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.modal_errr {
  position: fixed;
  top: 40%;
  opacity: 0;
  z-index: -1;
  width: 360px;
  height: 320px;
  background: #fff !important;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.green_success{
  color: #00c45d;
}

.red-failed{
  color:#bd081c;
}

.createModalPS {
  position: fixed;
  top: 40%;
  opacity: 0;
  z-index: -1;
  width: 60%;
  height: auto;
  background: #fff !important;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.m-zero {
  width: 100% !important;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0 !important;
}

.button-close-aml{
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 9999;
}

.editModalPS {
  position: fixed;
  top: 40%;
  opacity: 0;
  z-index: -1;
  width: 60%;
  height: auto;
  background: #fff !important;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.animation_edit_modal_ps {
  top: 50%;
  opacity: 1;
  z-index: 9999;
}

.animation_create_modal_ps {
  top: 50%;
  opacity: 1;
  z-index: 9999;
}

.mayus{
  text-transform: uppercase;
}

.image-card{
  position: absolute;
  top: 40%;
  left: 0;
}

.modal_err_ps {
  position: fixed;
  top: 40%;
  opacity: 0;
  z-index: -1;
  width: 360px;
  height: 320px;
  background: #fff !important;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.show_err_ps {
  top: 50%;
  opacity: 1;
  z-index: 999999;
}

.center-loading > p > b {
  font-weight: bold;
}

.center-loading {
  text-align: center;
  padding: 40%;
  box-sizing: border-box;
}

.title_err {
  width: 100%;
  height: 70px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  font-size: 25px !important;
}

.title_err > h3{
  font-size: 17px !important;
}

.modal_errr > .center-loading {
  width: 100%;
  padding: 25px !important;
  padding-top: 0 !important;
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
}

.nav-pills .nav-link{
  color:#4E5B59;
}

.nav-pills .nav-link:hover{
  color:#f59100;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #f59100;
  border-color: #f59100;
}

.imgTj > img {
  width: 75%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: gourmetpay;
  font-weight: 600;
  line-height: 1.5;
  color: #4E5B59;
}

.btn-gourmet {
  color: #fff;
  border-color: #f59100;
  background-color: #f59100;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-gourmet:hover
{
  color: #fff;
  border-color: #f59100;
  background-color: #f59100;
}

.txt-gourmet{
  text-transform: uppercase;
  font-family: gourmetpay;
}

.modal-body{
  word-break: break-all;
}

.w-75{
  width: 60% !important;
  margin: auto;
  margin-top: 5%;
}

.tarjetas {
  height: auto !important;
}

.box-defualt {
  height: 120px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  margin-bottom: 10%;
}

.card.box-defualt img {
  margin: auto;
}

.card-title{
  margin-bottom: 0 !important;
}

.card.box-defualt:hover {
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.17);
}

.w-tiny-75{
  width: 75px !important;
}

.w-tiny-95{
  width: 95px !important;
}

li.sub-menu.nav-item {
  padding-left: 35px;
}

.zi-99{
  z-index: 99 !important;
}

.bg-green-btn, .bg-green-btn:hover{
  background: #3bcb5b;
  border:none !important;
  color: #ffffff;
  padding: 1px;
  box-sizing: border-box;
}

.bg-gourmet-btn, .bg-gourmet-btn:hover{
  background: #f59100;
  border:none !important;
  color: #ffffff;
  padding: 1px;
  box-sizing: border-box;
}

.bg-red-btn, .bg-red-btn:hover{
  background: #f50f00;
  border:none !important;
  color: #ffffff;
  padding: 1px;
  box-sizing: border-box;
}
.ocultar-table{
  display: none;
}

input.ocultar-file-upload {
  position: absolute;
  width: 122px;
  height: 42px;
  z-index: 99;
  opacity: 0;
}

.modal-lg, .modal-xl {
  max-width: 1020px;
}


.btn-orange, .btn-orange:hover {
  background: #f59100;
  color: #ffffff;
}

.btn-default, .btn-default:hover{
  color: #ffffff;
}

.create_new_factu > p {
  font-size: 47px;
  font-family: gourmetpay;
  color: #4e5b59;
  height: 50px;
}

.create_new_factu > h3 {
  font-size: 28px;
}

.create_new_factu {
  text-align: center;
  cursor: pointer;
}

.display-2{
  font-size: 2em;
}

.p-top {
  position: absolute;
  top: 10%;
}

.form-control{
  color: #000000 !important;
}

.center {
  margin: auto;
  text-align: center;
}

.image-tarjeta {
  width: 50%;
  margin: auto;
  position: relative;
}

.image-logo > img {
  width: 50%;
}

.image-logo {
  position: absolute;
  right: 7%;
  top: 9%;
  width: 38%;
  height: 55px;
}

.class_pdf {
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  z-index: -5;
  opacity: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.class_pdf i {
  font-size: 40px;
}

.animation_class_pdf{
  z-index: 9999;
  opacity: 1;
  top: 40%;
}

.modal_date {
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  position: absolute;
  z-index: -5;
  opacity: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -40%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.animation_modal_date{
  z-index: 9999;
  opacity: 1;
  top: 40%;
}


.modal-idioma {
  position: fixed;
  opacity: 0;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: -1;
  text-align: center;
  width: 320px;
  height: 290px;
  border-radius: 5px;
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.modal-idioma > h3 {
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
}

.animation-dialog-modal-idioma{
  z-index: 99999;
  opacity: 1;
  top: 50%;
}

.modal-idioma .box {
  height: 115px !important;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.modal-idioma img {
  width: 40px;
  margin-bottom: 10px;
}

.modal_editar {
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: -3;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.animation_modal_editar {
  opacity: 1;
  z-index: 99999;
  top: 50%;
}

.create_modal {
  position: fixed;
  background: #ffffff;
  border-radius: 5px;
  height: 670px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  width: 72%;
  transform: translate(-50%, -50%);
  top: 40%;
  opacity: 0;
  z-index: -1;
  left: 55%;
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

tbody {
  max-height: 450px; /* e.g. */
  overflow-y: scroll; /* keeps the scrollbar even if it doesn't need it; display purpose */
}

.table th.gray{
  background-color: #465967;
  color: #ffffff;
}

.disabled > div {
  cursor: not-allowed;
  filter: grayscale(100%);
}

.disabled > div > a{
  cursor: not-allowed;
  filter: grayscale(100%);
  display: none;
}

.mitableresponsive {
  width: 100%;
  height: 450px;
  overflow: scroll;
}

.tableFixHead          { overflow-y: auto; height: 450px; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }

.table th.blanco{
  background-color: #ffffff;
}

.table th.rojo{
  background-color: #e93835;
  color: #ffffff;
}

.table th.green{
  background-color: #29d57a;
  color: #ffffff;
}

.modalCrearProducto {
  position: fixed;
  z-index: -99;
  width: 100%;
  top: 40%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.animationModalCrearProducto {
  z-index: 9999;
  top: 50%;
  opacity: 1;
}

.edit_modal_card {
  position: fixed;
  background: #ffffff;
  border-radius: 5px;
  height: 690px;
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;
  width: 75%;
  transform: translate(-50%, -50%);
  top: 40%;
  opacity: 0;
  z-index: -1;
  left: 60%;
  transition: all .6s cubic-bezier(1, -0.5, 0.5, 1);
}

.carga-absoluta{
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.content-image{
  width: 100%;
  text-align: center;
}

.animation_create_modal {
  opacity: 1;
  z-index: 99999;
  top: 50%;
}

.animation_edit_modal_card {
  opacity: 1;
  z-index: 99999;
  top: 50%;
}

.content-texting {
  width: 218px;
  height: 85px;
  position: absolute;
  bottom: 3%;
  left: 2.5%;
  border-radius: 0 0 0 20px;
}

.f-size-14{
  font-size: 14px;
}

.background-red{
  background: #ff424e;
}

.background-blue {
  background: #00aef2;
}

.background-green{
  background: #00c45d;
}

.background-dark {
  background: #49495b;
}

.background-marca {
  background: #f59100;
}

.text-name {
  text-align: left;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.text-founder {
  text-align: left;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

.overflowY{
  overflow-y: hidden;
  overflow-x: scroll;
}

.card-header.full > input {
  width: 50%;
  margin-right: 1.2%;
}

.card-header.full {
  display: flex;
}

.full{
  width: 100%;
}

.content-number {
  padding-top: 4%;
  margin-left: 5%;
  box-sizing: border-box;
}

.modal-backdrop.show {
  display: none !important;
}

.buscarCabecera{
  min-width: 100px;
  float: left;
}

.red{
  color: #fd5858 !important;
}

.cursor{
  cursor: pointer;
}

.txt-left {
  text-align: left;
}

.separation {
  padding: 5px;
  box-sizing: border-box;
  margin-right: 2%;
}
