<div class="modalSelectCalendar" [ngClass]="animation">
  <div class="modal-header">
    <h3 class="F-calendar">Selecciona un mes del calendario</h3>
  </div>
  <div class="modal-body">
    <select class="custom-select mb-3" [(ngModel)]="date.month" >
      <option [value]="item.id" *ngFor="let item of arrayMonths">{{item.name}}</option></select>
  </div>
  <div class="modal-foot">
    <button type="button" class="btn btn-default right" (click)="continue(date.month)">Continuar</button>
  </div>
</div>

<div class="modalSelectCalendar" [ngClass]="animationError">
  <div class="modal-header">
    <h3 class="F-calendar">¡Oops!</h3>
  </div>
  <div class="modal-body">
    <p>Debes seleccionar un mes para continuar</p>
  </div>
  <div class="modal-foot">
    <button type="button" class="btn btn-default right" (click)="msgErr()">Ok</button>
  </div>
</div>

<div class="calendar" [ngClass]="animationCalendar">
  <div class="control">
    <select class="custom-select mb-3" [(ngModel)]="date.month" (change)="onChangeReplace($event.target.value)">
      <option [value]="item.id" *ngFor="let item of arrayMonths">{{item.name}}</option></select>
  </div>
  <div class="position">
    <table class="table table-responsive">
      <thead class="thead-light">
      <tr>
        <th>D</th>
        <th>L</th>
        <th>M</th>
        <th>X</th>
        <th>J</th>
        <th>V</th>
        <th>S</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of arrayDays | keyvalue;">
        <td>{{item.value[0]['id']}}</td>
        <td>{{item.value[1]['id']}}</td>
        <td>{{item.value[2]['id']}}</td>
        <td>{{item.value[3]['id']}}</td>
        <td>{{item.value[4]['id']}}</td>
        <td>{{item.value[5]['id']}}</td>
        <td>{{item.value[6]['id']}}</td>
      </tr>
      </tbody>
    </table>
    <div class="table"></div>
  </div>
</div>

